.navbar {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: black;
   height: 13vh;
}

.search-input-container {
   position: relative;
}

.search-icon {
   position: absolute;
   right: 5%;
   top: 50%;
   transform: translateY(-50%);
   color: black;
}

.search-input {
   width: 450px;
   padding: 10px 15px;
   border: 2.5px solid black;
   border-radius: 10px;
   font-size: 14px;
   letter-spacing: 2px;
   text-transform: uppercase;
   transition: 0.2s linear;
}

.search-input:focus {
   outline: none;
   border: 0.5px solid black;
   box-shadow: -5px -5px 0px black;
}

.suggestions-list {
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1;
   width: 450px;
   padding: 0;
   margin: 0;
   list-style: none;
   border: 1px solid #ccc;
   border-radius: 4px;
   background-color: #fff;
   color: black;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.suggestions-list li {
   display: flex;
   align-items: center;
   padding: 10px;
   cursor: pointer;
}

.suggestions-list li:hover {
   background-color: #f0f0f0;
}

.search-movie-image {
   width: 50px;
   margin-right: 10px;
}

.navbar-right-section {
   display: flex;
   font-size: 25px;
   align-items: center;
   justify-content: center;
   margin-right: 15px;
   gap: 30px;
}
