.navbar {
   background-color: black;
   height: 13vh;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.search-input-container {
   position: relative;
}

.search-icon {
   position: absolute;
   right: 5%;
   top: 50%;
   transform: translateY(-50%);
   color: black;
}

.search-input {
   width: 450px;
   padding: 10px 15px;
   transition: 0.2s linear;
   border: 2.5px solid black;
   font-size: 14px;
   text-transform: uppercase;
   letter-spacing: 2px;
   border-radius: 10px;
}

.search-input:focus {
   outline: none;
   border: 0.5px solid black;
   box-shadow: -5px -5px 0px black;
}

.suggestions-list {
   position: absolute;
   top: 100%;
   left: 0;
   width: 450px;
   list-style: none;
   padding: 0;
   margin: 0;
   border: 1px solid #ccc;
   background-color: #fff;
   color: black;
   border-radius: 4px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   z-index: 1;
}

.suggestions-list li {
   padding: 10px;
   cursor: pointer;
   display: flex;
   align-items: center;
}

.suggestions-list li:hover {
   background-color: #f0f0f0;
}

.search-movie-image {
   width: 50px;
   margin-right: 10px;
}

.navbar-right-section {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
}

.navbar-movie-series {
   font-size: 18px;
   color: #e1e1e1;
   font-family: inherit;
   font-weight: 600;
   cursor: pointer;
   position: relative;
   border: none;
   background: none;
   margin: 0 10px;
   text-transform: uppercase;
   transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
   transition-duration: 400ms;
   transition-property: color;
}

.navbar-movie-series:focus,
.navbar-movie-series:hover {
   color: #fff;
}

.navbar-movie-series:focus:after,
.navbar-movie-series:hover:after {
   width: 100%;
   left: 0%;
}

.navbar-movie-series:after {
   content: "";
   pointer-events: none;
   bottom: -2px;
   left: 50%;
   position: absolute;
   width: 0%;
   height: 2px;
   background-color: #fff;
   transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
   transition-duration: 400ms;
   transition-property: width, left;
}

.sign-up-btn {
   border: 0;
   border-radius: 25px;
   color: black;
   padding: 0.5em 1em;
   background: #f5f5f5;
   display: flex;
   align-items: center;
   gap: 0.5em;
   font-weight: bold;
}