.sidebar-container {
  height: calc(100vh - 150px);
  display: flex;
  padding: 0 2vw;
  position: sticky;
  top: 90px;
}

.small-sidebar li {
  justify-content: center;
}

.small-sidebar .sidebar-list {
    gap: 10px;
}

.small-sidebar .list-item {
  display: none;
}

.sidebar-list {
  color: rgb(151, 151, 151);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.sidebar-list li {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;
  font-size: 1.3vw;
  cursor: pointer;
  transition: all 0.1s;
}

.list-item {
  margin: 0;
}

.sidebar-list li:hover {
  color: white;
}

.sidebar-list li.selected {
  color: white;
}
