.movie-details-container {
   display: flex;
   margin: 30px 10px;
}

.movie-details-image-container {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}

.movie-details-image {
   width: 300px;
   height: auto;
   border-radius: 20px;
   margin-bottom: 20px;
}

.details-button-container {
   display: flex;
   justify-content: center;
   gap: 15px;
}

.watch-button {
   background-color: red;
   box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
   border-radius: 20px;
   padding: 8px 20px;
   color: white;
   border: none;
   outline: none;
   transition: all 0.3s;
}

.watch-button:hover {
   background-color: rgb(196, 0, 0);
}

.add-list-button {
   background-color: rgb(69, 69, 69);
   box-shadow: 0 0 10px rgba(87, 87, 87, 0.5);
   border-radius: 20px;
   padding: 8px 20px;
   color: white;
   border: none;
   outline: none;
   transition: all 0.3s;
}

.add-list-button:hover {
   background-color: rgb(56, 56, 56);
}

.movie-details-right {
   flex: 1;
   padding-left: 40px;
}

.movie-details-title {
   font-size: 40px;
   margin-bottom: 15px;
}

.movie-runtime {
   font-size: 20px;
   margin-left: 10px;
   color: gray;
   word-spacing: -2px;
}

.movie-details-genre {
   margin-bottom: 25px;
}

.movie-details-genre p {
   border: 1px solid white;
   border-radius: 30px;
   display: inline;
   padding: 5px 10px;
   margin-right: 10px;
}

.movie-details-plot {
   font-size: 18px;
   margin-bottom: 15px;
   overflow-wrap: break-word;
}

.movie-details-cast {
   font-size: 25px;
   margin-bottom: 5px;
}

.cast-list-container {
   width: 700px;
   display: flex;
   flex-wrap: nowrap;
   gap: 20px;
   justify-content: flex-start;
   overflow-x: auto;
   overflow-y: hidden;
   &::-webkit-scrollbar {
      display: none;
   }
}

.cast-list-card {
   display: flex;
   flex-direction: column;
   position: relative;
}

.cast-image {
   width: 100px;
   height: 150px;
   object-fit: cover;
   margin-bottom: 5px;
   border-radius: 10px;
   transition: all 0.5s;
}

.cast-name {
   width: 100px;
   text-align: center;
}

.cast-list-card:hover .cast-image {
   transform: scale(1.03, 1.03);
}

/* .cast-character-name {
   text-align: center;
   display: none;
}

.cast-list-card:hover .cast-character-name {
   display: block;
}

.cast-list-card:hover .cast-name {
   display: none;
} */
