.movie-details-container {
   display: flex;
   margin: 30px 10px;
}

.movie-details-image-container {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}

.movie-details-image {
   width: 300px;
   height: auto;
   border-radius: 20px;
   margin-bottom: 20px;
}

.details-button-container {
   display: flex;
   justify-content: center;
   gap: 15px;
}

.watch-button {
   background-color: red;
   box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
   border-radius: 20px;
   padding: 8px 20px;
   color: white;
   border: none;
   outline: none;
   transition: all 0.3s;
}

.watch-button:hover {
   background-color: rgb(196, 0, 0);
}

.add-list-button {
   background-color: rgb(69, 69, 69);
   box-shadow: 0 0 10px rgba(87, 87, 87, 0.5);
   border-radius: 20px;
   padding: 8px 20px;
   color: white;
   border: none;
   outline: none;
   transition: all 0.3s;
}

.add-list-button:hover {
   background-color: rgb(56, 56, 56);
}

.movie-details-right {
   flex: 1;
   padding-left: 40px;
}

.movie-details-title {
   font-size: 40px;
   margin-bottom: 15px;
}

.movie-runtime {
   font-size: 20px;
   margin-left: 10px;
   color: gray;
   word-spacing: -2px;
}

.movie-details-genre {
   margin-bottom: 25px;
}

.movie-details-genre p {
   border: 1px solid white;
   border-radius: 30px;
   display: inline;
   padding: 5px 10px;
   margin-right: 10px;
}

.movie-details-plot {
   font-size: 18px;
   margin-bottom: 15px;
   overflow-wrap: break-word;
}

.movie-details-cast {
   font-size: 25px;
   margin-bottom: 5px;
}

.cast-list-container {
   width: 700px;
   display: flex;
   flex-wrap: nowrap;
   gap: 20px;
   justify-content: flex-start;
   overflow-x: auto;
   overflow-y: hidden;
   &::-webkit-scrollbar {
      display: none;
   }
}

.cast-list-card {
   display: flex;
   flex-direction: column;
   position: relative;
}

.cast-image {
   width: 100px;
   height: 150px;
   object-fit: cover;
   margin-bottom: 5px;
   border-radius: 10px;
   transition: all 0.5s;
}

.cast-name {
   width: 100px;
   text-align: center;
}

.cast-list-card:hover .cast-image {
   transform: scale(1.03, 1.03);
}

/* .cast-character-name {
   text-align: center;
   display: none;
}

.cast-list-card:hover .cast-character-name {
   display: block;
}

.cast-list-card:hover .cast-name {
   display: none;
} */

.series-season-container {
   padding: 0 50px;
}

.season-row {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
}

.checkbox-wrapper * {
   -webkit-tap-highlight-color: transparent;
   outline: none;
}

.checkbox-wrapper input[type="checkbox"] {
   display: none;
}

.checkbox-wrapper label {
   --size: 30px;
   --shadow: calc(var(--size) * 0.07) calc(var(--size) * 0.1);
   position: relative;
   display: block;
   width: var(--size);
   height: var(--size);
   margin: 0 auto;
   background-color: #4158d0;
   background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
   border-radius: 50%;
   box-shadow: 0 var(--shadow) #ffbeb8;
   cursor: pointer;
   transition: 0.2s ease transform, 0.2s ease background-color, 0.2s ease box-shadow;
   overflow: hidden;
   z-index: 1;
}

.checkbox-wrapper label:before {
   content: "";
   position: absolute;
   top: 50%;
   right: 0;
   left: 0;
   width: calc(var(--size) * 0.9);
   height: calc(var(--size) * 0.9);
   margin: 0 auto;
   background-color: black;
   transform: translateY(-50%);
   border-radius: 50%;
   box-shadow: inset 0 var(--shadow) #ffbeb8;
   transition: 0.2s ease width, 0.2s ease height;
}

.checkbox-wrapper label:hover:before {
   width: calc(var(--size) * 0.55);
   height: calc(var(--size) * 0.55);
   box-shadow: inset 0 var(--shadow) #ff9d96;
}

.checkbox-wrapper label:active {
   transform: scale(0.9);
}

.checkbox-wrapper .tick_mark {
   position: absolute;
   top: -1px;
   right: 0;
   left: calc(var(--size) * -0.05);
   width: calc(var(--size) * 0.6);
   height: calc(var(--size) * 0.6);
   margin: 0 auto;
   margin-left: calc(var(--size) * 0.14);
   transform: rotateZ(-40deg);
}

.checkbox-wrapper .tick_mark:before,
.checkbox-wrapper .tick_mark:after {
   content: "";
   position: absolute;
   background-color: #fff;
   border-radius: 2px;
   opacity: 0;
   transition: 0.2s ease transform, 0.2s ease opacity;
}

.checkbox-wrapper .tick_mark:before {
   left: 0;
   bottom: 0;
   width: calc(var(--size) * 0.1);
   height: calc(var(--size) * 0.3);
   box-shadow: -2px 0 5px rgba(0, 0, 0, 0.23);
   transform: translateY(calc(var(--size) * -0.68));
}

.checkbox-wrapper .tick_mark:after {
   left: 0;
   bottom: 0;
   width: 100%;
   height: calc(var(--size) * 0.1);
   box-shadow: 0 3px 5px rgba(0, 0, 0, 0.23);
   transform: translateX(calc(var(--size) * 0.78));
}

.checkbox-wrapper input[type="checkbox"]:checked + label {
   background-color: #4158d0;
   background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
   box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.checkbox-wrapper input[type="checkbox"]:checked + label:before {
   width: 0;
   height: 0;
}

.checkbox-wrapper input[type="checkbox"]:checked + label .tick_mark:before,
.checkbox-wrapper input[type="checkbox"]:checked + label .tick_mark:after {
   transform: translate(0);
   opacity: 1;
}

.progress-loader {
   width: 150px;
   background: rgba(236, 236, 238, 0.253);
   height: 10px;
   border-radius: 7px;
}

.progress {
   width: 0px;
   height: 10px;
   border-radius: 7px;
   background: rgb(255, 255, 255);
   transition: 0.5s;
}
