.skeleton-movie-card {
   width: 200px;
   height: 270px;
   cursor: pointer;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.skeleton-movie-image {
   width: 180px;
   height: 250px;
   border-radius: 10px;
   background-color: gray;
   animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) alternate-reverse infinite;
}

.skeleton-movie-title {
   width: 100px;
   height: 15px;
   margin-top: 10px;
   border-radius: 10px;
   background-color: gray;
   animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) alternate-reverse infinite;
}

@keyframes pulse {
   to {
      opacity: 0.2;
   }
}
